#auth {
  list-style: none;
  text-decoration: none;
}

.navbar-dark a.navbar-brand {
  font-family: "Samarkan";
  color: #181818;
}

.navbar-dark a.navbar-brand:hover {
  color: #a30b2e;
  text-shadow: 1px 1px #dcb83e;
  cursor: pointer;
}

#home,
#shop,
#cart,
#sell,
#label,
#signout,
#signin,
#signup,
#profile {
  color: #181818;
}
#home:hover,
#shop:hover,
#cart:hover,
#sell:hover,
#label:hover,
#signout:hover,
#signin:hover,
#signup:hover,
#profile:hover {
  color: #a30b2e;
}