code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .backdrop {
  background-image: url('../src/static/images/bazaar.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
} */
main {
  height: 87vh;
}
body {
  background-color: lightyellow;
}

#root {
  background-color: #75a87e;
  height: 100vh;
}
#main-heading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Samarkan", "Aclonica", sans-serif;
  text-transform: uppercase;
  font-size: 6em;
  letter-spacing: 2;
  color: #a30b2e;
  cursor: pointer;
  text-shadow: 2px 2px #181818;
  background-clip: text;
  -webkit-background-clip: text;
}
#main-heading:hover {
  color: #dcb83e;
  text-shadow: 2px 2px #a30b2e;
}
@font-face {
  font-family: "Samarkan";
  src: url("./static/fonts/samarkan/SAMAN___.TTF") format("ttf");
}
#footer {
  color: #181818;
  background-color: #75a87e;
}
#footer:hover {
  color: #a30b2e;
}
#unauthorized {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
#shop-header {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
#err {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
#not-found {
  height: 30vh;
}
#dasboard {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
#dasboard-update {
  font-weight: 300;
}
#update-info {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
#cart-header {
  font-family: "Quicksand", sans-serif;
}
.notify {
  text-decoration: none;
  color: #a30b2e;
}
.notify:hover {
  text-decoration: none;
  color: #a30b2e;
}
#trash:hover {
  color: #a30b2e;
}
#checkout-button {
  color: #181818;
  background-color: #b1dc3e;
}
#cart-icon {
  color: #60bfbf;
}
#cart-icon:hover {
  cursor: pointer;
}
#card-header {
  color: #60bfbf;
  background-color: #181818;
}
#ctn-shop {
  color: #181818;
  background-color: #60bfbf;
}
#add-product:hover {
  color: #b1dc3e;
}
#remove-product:hover {
  color: #a30b2e;
}
