code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .backdrop {
  background-image: url('../src/static/images/bazaar.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
} */
main {
  overflow: auto;
  height: 100vh;
}
body {
  background-color: #75a87e;
  display: block;
}

#root {
  background-color: #75a87e;
}
#main-heading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Samarkan", "Aclonica", sans-serif;
  text-transform: uppercase;
  font-size: 8em;
  letter-spacing: 2;
  color: #a30b2e;
  cursor: pointer;
  text-shadow: 2px 2px #dcb83e;
  background-clip: text;
  -webkit-background-clip: text;
}
#main-heading:hover {
  color: #dcb83e;
  text-shadow: 2px 2px #a30b2e;
}
@font-face {
  font-family: "Samarkan";
  src: url("./static/fonts/samarkan/SAMAN___.TTF") format("ttf");
}
#footer {
  color: #181818;
  background-color: #75a87e;
  height: 3rem;
}
#footer:hover {
  color: #a30b2e;
  text-shadow: 1px 1px #dcb83e;
}
#unauthorized {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
#shop-header {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
#err {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
#not-found {
  height: 30vh;
}
#dasboard {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
#dasboard-update {
  font-weight: 300;
}
#update-info {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
#cart-header {
  font-family: "Quicksand", sans-serif;
}
.notify {
  text-decoration: none;
  color: #a30b2e;
}
.notify:hover {
  text-decoration: none;
  color: #a30b2e;
}
#trash:hover {
  color: #a30b2e;
}
#checkout-button {
  color: #181818;
  background-color: #b1dc3e;
}
#cart-icon {
  color: #60bfbf;
}
#cart-icon:hover {
  cursor: pointer;
}
#card-header {
  color: #60bfbf;
  background-color: #181818;
}
#ctn-shop {
  color: #181818;
  background-color: #60bfbf;
}
#add-product:hover {
  color: #b1dc3e;
}
#remove-product:hover {
  color: #a30b2e;
}
#sell-header {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
#order-btn {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
#product-form {
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
}
input[type="file"]::file-selector-button {
  border: 2px solid #181818;
  font-family: "Quicksand", sans-serif;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #527658;
  transition: 0.5s;
}
input[type="file"]::file-selector-button:hover {
  background-color: #75a87e;
  border: 2px solid #527658;
}
#upload,
#info-adder,
#preview-img {
  border: 2px solid #181818;
  font-family: "Quicksand", sans-serif;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #527658;
  transition: 0.5s;
}
#upload:hover,
#info-adder:hover,
#preview-img:hover {
  background-color: #75a87e;
  border: 2px solid #527658;
}
#image-preview {
  height: 80%rem;
  width: 80%;
  background-size: cover !important;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
}
#listing-header {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
.card {
  background-color: #60bfbf;
}